<!-- testng.xml -->

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SeleniumTestSuite">
    <test name="ReactAppTest">
        <classes>
            <class name="com.example.ReactAppSeleniumTest"/>
            <!-- Add more test classes if needed -->
        </classes>
    </test>
</suite>
